@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    
    .testimonial {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .client-photo {
        margin-bottom: 1rem;
    }
    
    .member-photo {
        width: 120px;
        height: 120px;
    }
    
    .info-card {
        width: 100%;
        margin-bottom: 15px;
    }
    
    .footer-content {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .info-cards {
        flex-direction: column;
    }
    
    .info-card {
        width: 100%;
        margin-bottom: 15px;
    }
    
    .video-container {
        flex-direction: column;
    }
    
    .video-wrapper {
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        margin-bottom: 15px;
    }
    
    .header .container {
        flex-direction: column;
    }
    
    
}