:root {
    --primary-color: #1691D9; 
    --primary-yellow: #FFB300;
    --secondary-color: #000000;
    --accent-color: #FFFFFF;
    --text-color: #333333;
    --light-gray: #F5F5F5;
    --dark-gray: #777777;
    --warning-color: #FFF3CD;
}